/**
 * reveal.js custom theme tweaks for the slides
 */

.reveal pre code {
  max-height: 800px;
}

.reveal strong,
.reveal b {
  color: #f17e00;
}

.reveal .big-th table th {
  font-size: 120%;
}

.reveal .borderless table th,
.reveal .borderless table td {
  border-bottom: none;
}
